body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #676767;
    text-align: center;
    position: relative;
}
a{
    text-decoration: none;
    color: #212121;
}
.login-box {
    background-color: #fff;
    width: 516px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 3px;
}
.head {
    width: 100%;
    height: 35px;
    background-color: #CC0114;
    color: #e5e5e5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.head-info {
    line-height: 35px;
    width: 100%;
}
#login-tip {
    width: 81%;
    heigth: 100%;
    display: inline-block;
    text-align: left;
}
#login-close {
    width: 13%;
    height: 100%;
    display: inline-block;
    text-align: right;
    cursor: pointer;
}
.item {
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.item-text {
    width: 250px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.item-submit {
    width: 250px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #292929;
    color: #ffffff;
    cursor: pointer;
}
#username {
    margin-top: 30px;
}
.hide {
    display: none;
}
.more {
    display: inline-block;
    width: 33%;
}
.formTips {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}